/* css는 index.js에서 import해야함!! */
:root{
    --backgroundColor:#050914;
    --buttonColor:#0455BF;
    --highlighted:#0455BF;
}

*{
    padding: 1px 1px;
    margin:0px;
}

body{
    background-color: var(--backgroundColor);
}

.nav_container{
    margin-top: 40px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav_container .navL{
    text-emphasis: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.nav_container .user_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.container span{
    color: white;
    font-size: 13px;
    margin: 5px;
}

.AuthContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.AuthContainer input{
    width: 300px;
    height: 40px;
    background-color: gray;
    color: white;
    margin: 5px 5px;
    border-radius: 10px;
    border:none;
}

.AuthContainer input::placeholder{
    color: white;
}

.AuthContainer .btn{
    background-color: var(--buttonColor);
}

.container .iconst{
    margin-bottom: 5px;
}

.container_h{
    display: flex;
    justify-content: center;
}

.sub_container{
    width: 50%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub_container form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.sub_container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_container form input{
    color: white;
}

.sub_container form input::placeholder{
    color: white;
}

.sub_container .form_container{
    display: flex;
    justify-content:  flex-end;
}

.sub_container .form_container .content{
    width: 350px;
    height: 40px;
    background-color: white;
    color: black;
    margin: 5px 5px;
    border-radius: 10px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_container .form_container label{
    position: absolute;
    margin-top: 8px;
    right: 50px;
}

.sub_container .form_container .attat{
    display: none;
}

.sub_container .form_container .subm{
    position: absolute;
    margin-top: 13px;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    float: right;
}

.nweet_container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.nweet_container h1{
    color: white;
    margin: 0px;
    padding: 0px;
}

.nweet_container .nweeting{
    margin: 0px;
    padding: 0px;
}

.google{
    margin-top: 10px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
}